.mid-cropped {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: 25% 25%;
}

.bottom-cropped {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: 0% 100%;
}

.center-div {
    max-width: fit-content;
    margin: auto;
}

h2 {
    text-align: center;
}

img.detail-image {
    width: 200px;
    height: 320px;
    margin: auto;
    display: block;
    object-fit: cover;
}

p {
    text-align: center;
    font-size: large;
    margin-bottom: 100px;
}